p{
	text-align:justify;
	text-indent:30px;
	}

.principal{
	text-align:justify;
	text-indent:30px;
	font-size: 16px;
	}


#rodape{
	background: rgba(0, 0, 0, 0.5);
	height: auto;
}

a{
color: #333333;
}